 /* header */
 *{
   margin: 0;
   padding: 0;
   box-sizing: 0;
 }

 body{
  background-image: url(../img/tramonto.jpg);
  background-size: cover;
 }


h1:hover{

  font-family: 'Hachi Maru Pop', cursive;


}

h1{

  font-family: 'Abril Fatface', cursive;
  color: #ffffff;
  text-shadow: 1px 1px 1px black, 0 0 4px blue, 0 0 2px darkblue;
  margin-left: 38%;
  margin-top: 3%;

}

/* fine header */
main{
  position: relative;
  left:300px;
}

.pattern{
  background-image: url(../img/pattern.png);
background-size: contain;
height: 131px;
width:130px;
border-radius: 10px;
display:inline-block;
margin-left: 1%;
margin-top: 40px;


}
.patternfig{
  background-image: url(../img/noun_Cruise_Ship_3134824.png);
background-size: contain;
background-color: white;
height: 131px;
width:130px;
border-radius: 10px;
display:inline-block;
margin-left: 1%;
margin-top: 40px;


}


.boat{
  position:absolute;
left:200px;
top:312px;
  text-shadow: 1px 1px 1px black, 0 0 4px blue, 0 0 2px darkblue;
color: white;


}
.boat:hover{
  position:absolute;
left:200px;
top:312px;
  text-shadow: 1px 1px 1px black, 0 0 4px blue, 0 0 2px darkblue;
color: orange;


}







.pattern.pattern1:hover{
background-image: url(../img/noun_air_balloon_3134741.png);
background-size:contain;
background-color: white;

}

.pattern.pattern2:hover{
background-image: url(../img/noun_Bicycle_3134821.png);
background-size:contain;
background-color: white;



}


.pattern.pattern3:hover{
background-image: url(../img/noun_Cruise_Ship_3134824.png);
background-size:contain;
background-color: white;


}



.pattern.pattern4:hover{
background-image: url(../img/noun_Submarine_3134738.png);
background-size:contain;
background-color: white;

}
.pattern.pattern5:hover{
background-image: url(../img/noun_Bicycle_3134821.png);
background-size:contain;
background-color: white;

}
.pattern.pattern6:hover{
background-image: url(../img/noun_Bicycle_3134821.png);
background-size:contain;
background-color: white;

}

.pattern.pattern7:hover{
background-image: url(../img/noun_Cruise_Ship_3134824.png);
background-size:contain;
background-color: white;

}


.pattern.pattern8:hover{
background-image: url(../img/noun_Submarine_3134738.png);
background-size:contain;
background-color: white;

}

.pattern.patterna:hover{
background-image: url(../img/noun_Bicycle_3134821.png);
background-size:contain;
background-color: white;

}

.pattern.patternb:hover{
background-image: url(../img/noun_air_balloon_3134741.png);
background-size:contain;
background-color: white;

}
.pattern.patternc:hover{
background-image: url(../img/noun_Cruise_Ship_3134824.png);
background-size:contain;
background-color: white;

}
.pattern.patternd:hover{
background-image: url(../img/noun_Submarine_3134738.png);
background-size:contain;
background-color: white;

}
/* footer */
footer{
  margin-left: 40%;
  margin-top: 2%;

}

footer:hover{
  color: rgb(167, 217, 241);
  margin-left: 40%;
  margin-top: 2%;

}
