 /* header */
 *{
   margin: 0;
   padding: 0;
   box-sizing: 0;
 }

 body{
  background-color: #A7D9F1;
 }


h1:hover{

  font-family: 'Hachi Maru Pop', cursive;


}

h1{

  font-family: 'Abril Fatface', cursive;
  color: #ffffff;
  text-shadow: 1px 1px 1px black, 0 0 4px blue, 0 0 2px darkblue;
  margin-left: 38%;
  margin-top: 3%;

}

/* fine header */
main{
  position: relative;
  left:260px;
}

.pattern{
  background-image: url(../img/pattern.png);
background-size: contain;
height: 200px;
width: 150px;
border-radius: 10px;
display:inline-block;
margin-left: 1%;
margin-top: 40px;


}

.pattern:hover{
background-image: url(../img/noun_air_balloon_3134741.png);
background-size:contain;


}
.pattern1{
  background-image: url(../img/pattern.png);
background-size: contain;
height: 200px;
width: 150px;
border-radius: 10px;
display:inline-block;
margin-left: 1%;
margin-top: 40px;


}

.pattern1:hover{
background-image: url(../img/noun_air_balloon_3134741.png);
background-size:contain;


}
.pattern2{
  background-image: url(../img/pattern.png);
background-size: contain;
height: 200px;
width: 150px;
border-radius: 10px;
display:inline-block;
margin-left: 1%;
margin-top: 40px;


}

.pattern2:hover{
background-image: url(../img/noun_Bycicle_3134821.png);
background-size:cover;


}
.pattern3{
  background-image: url(../img/pattern.png);
background-size: contain;
height: 200px;
width: 150px;
border-radius: 10px;
display:inline-block;
margin-left: 1%;
margin-top: 40px;


}

.pattern3:hover{
background-image: url(../img/noun_air_balloon_3134741.png);
background-size:contain;


}
.pattern4{
  background-image: url(../img/pattern.png);
background-size: contain;
height: 200px;
width: 150px;
border-radius: 10px;
display:inline-block;
margin-left: 1%;
margin-top: 40px;


}

.pattern4:hover{
background-image: url(../img/noun_air_balloon_3134741.png);
background-size:contain;


}
.pattern5{
  background-image: url(../img/pattern.png);
background-size: contain;
height: 200px;
width: 150px;
border-radius: 10px;
display:inline-block;
margin-left: 1%;
margin-top: 40px;


}

.pattern5:hover{
background-image: url(../img/noun_air_balloon_3134741.png);
background-size:contain;


}
.pattern6{
  background-image: url(../img/pattern.png);
background-size: contain;
height: 200px;
width: 150px;
border-radius: 10px;
display:inline-block;
margin-left: 1%;
margin-top: 40px;


}

.pattern6:hover{
background-image: url(../img/noun_air_balloon_3134741.png);
background-size:contain;


}
.pattern7{
  background-image: url(../img/pattern.png);
background-size: contain;
height: 200px;
width: 150px;
border-radius: 10px;
display:inline-block;
margin-left: 1%;
margin-top: 40px;


}

.pattern7:hover{
background-image: url(../img/noun_air_balloon_3134741.png);
background-size:contain;


}
.pattern8{
  background-image: url(../img/pattern.png);
background-size: contain;
height: 200px;
width: 150px;
border-radius: 10px;
display:inline-block;
margin-left: 1%;
margin-top: 40px;


}

.pattern8:hover{
background-image: url(../img/noun_air_balloon_3134741.png);
background-size:contain;


}
.patterna{
  background-image: url(../img/pattern.png);
background-size: contain;
height: 200px;
width: 150px;
border-radius: 10px;
display:inline-block;
margin-left: 1%;
margin-top: 40px;


}

.patterna:hover{
background-image: url(../img/noun_air_balloon_3134741.png);
background-size:contain;


}
.patternb{
  background-image: url(../img/pattern.png);
background-size: contain;
height: 200px;
width: 150px;
border-radius: 10px;
display:inline-block;
margin-left: 1%;
margin-top: 40px;


}

.patternb:hover{
background-image: url(../img/noun_air_balloon_3134741.png);
background-size:contain;


}
.patternc{
  background-image: url(../img/pattern.png);
background-size: contain;
height: 200px;
width: 150px;
border-radius: 10px;
display:inline-block;
margin-left: 1%;
margin-top: 40px;


}

.patternc:hover{
background-image: url(../img/noun_air_balloon_3134741.png);
background-size:contain;


}
.patternd{
  background-image: url(../img/pattern.png);
background-size: contain;
height: 200px;
width: 150px;
border-radius: 10px;
display:inline-block;
margin-left: 1%;
margin-top: 40px;


}

.patternd:hover{
background-image: url(../img/noun_air_balloon_3134741.png);
background-size:contain;


}
/* footer */
footer{
  margin-left: 40%;
  margin-top: 2%

}
